.carth1 {
  margin-bottom: 6rem;
  margin-top: 3rem;
  text-align: center;
  border: 5px solid rgb(241, 237, 237);
  padding: 1rem;
  color: rgb(126, 82, 82);
  border-radius: 5%;
}

.cartitems {
  margin-left: 10rem;
  padding-left: 1rem;
}

.table {
  background: rgb(241, 237, 237);
}

.card .cardBody {
  background: rgb(241, 237, 237);
}

.total {
  font-weight: 600;
}

.card span {
  color: red;
}

span.taxSpan {
  margin-right: 10px;
}

span.subtotalSpan {
  margin-right: 5px;
}

.shippingText {
  margin-bottom: 4rem;
  margin-top: 10rem;
  text-align: center;
  color: #0d47a1 !important;
  font-size: 1.5rem !important;
}

.card h4 {
  text-align: center;
}

.icon {
  margin-left: 7px;
}

.fa-stack-1x {
  font-size: 22px !important;
  margin-top: 93px !important;
  color: tomato !important;
  border-radius: 50% !important;
  width: 32px !important;
  height: 32px !important;
  background: #fff !important;
  border: 2px solid #666 !important;
  font: Arial, sans-serif !important;
  z-index: 10000 !important;
  position: absolute !important;
  left: 35px !important;
  top: 48px !important;
}

.scroll {
  opacity: 0.3;
  background-color: aqua;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
}

.arrow-up {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}

.arrow-up glyphicon glyphicon-chevron-up {
  color: red;
}
